.negrita {
    font-weight: 600;
}
.location {
    border-bottom: 0.2rem solid var(--darkish_55);
}
.location > h2 {
    margin-bottom: 2rem;
}
.location__info {
    flex-direction: column;
    padding-bottom: 2rem;
}
#map {
    z-index: -1;
    height: 50rem;
    width: 100%;
}
.location__texts {
    flex-direction: column;
    gap: 2rem;
}
.schedule {
    gap: 8rem;
}
#whatsapp {
    cursor: pointer;
}

@media (min-width: 768px) {
    .location__info {
        width: 100%;
        gap: 2rem;
        flex-direction: row;
        justify-content: space-between;
    }
    #map {
        width: 50%;
    }
    .location__texts {
        width: 50%;
    }
}